.App {
  margin-left: 50px;
  margin-top: 10em;
  position: relative;
}

#maps {
  position: relative;
}

.map {
  box-shadow: 3px 3px 30px #e6e6e6;
  border-radius: 30px;
  width: 1024px;
  height: 768px;
  overflow: scroll;
  margin: 100px;
  cursor: pointer;
}

/* drag map */
.map.active {
  cursor: grabbing;
  transform: scale(1);
}

.markers.active {
  z-index: 1;
  position: relative;
}

.reset {
  position: absolute;
  top: 4em;
  left: 63em;
}
